<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOJZAIhkNCa5NZ9bNZCoghDtvunW1a6XM</string>
	<key>GCM_SENDER_ID</key>
	<string>983408987520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pushstandllc.pushstand</string>
	<key>PROJECT_ID</key>
	<string>push-stand-be</string>
	<key>STORAGE_BUCKET</key>
	<string>push-stand-be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983408987520:ios:6af2fb7dcd09072fc40565</string>
</dict>
</plist>